.storage {
    width: 100%;
    margin-top: 18px;
    color: $c-blue-pale;

    &__container {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 160px;
        margin: 0 25px;
        padding: 39px 32px;
        background: $c-blue-dark;
        border-radius: 10px;
    }

    &__text {

        span {
            font-weight: 700;
        }
    }

    &__capacity {
        background: lighten($c-blue-very-dark, 8);
        width: 100%;
        height: 20px;
        border-radius: 40px;
        padding: 3px;
        margin: 15px 0 8px 0;
    }
    
    &__progress {
        position: relative;
        width: 75%;
        /* width: 3%; */
        height: 100%;
        border-radius: 40px;
        background: $gr-fade;

        &::before {
            position: absolute;
            content: '';
            background: #fff;
            width: 10px;
            height: 10px;
            top: 50%;
            right: 2px;
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }

    &__value-spread {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: 700;
        font-size: 0.89rem;
    }

    &__current {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 179px;
        height: 72px;
        bottom: -42px;
        left: 50%;
        border-radius: 10px;
        background: #fff;
        transform: translateX(-50%);
        text-transform: uppercase;
        font-size: 0.96rem;
        font-weight: 700;
        color: $c-blue-grayish;
        /* opacity: 0; */

        span {
            margin-right: 7px;
            font-size: 2.7rem;
            font-weight: 700;
            color: $c-blue-very-dark;
        }

        &.active {
            animation: current-pop 500ms forwards;
        }
    }
}

/* Storage media queries */
@media (min-width: 481px) {
    .storage {
        max-width: 431px;
        &__container {
            margin: 0 auto;
        }
    }
}

@media (min-width: 900px) {
    .storage {
        align-self: flex-end;
        max-width: 100%;

        &__container {
            align-items: flex-start;
        }

        &__current {
            top: -50px;
            right: 32px;
            bottom: unset;
            left: unset;
            transform: none;

            &::before {
                position: absolute;
                content: '';
                bottom: -23px;
                right: 0;
                height: 0px;
                width: 0px;
                border-color: #fff transparent;
                border-style: solid;
                border-width: 35px 0px 0px 35px;
            }
        }
    }
}