@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Global styles */
html {
    font-size: 14px;
}

body {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/img/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

/* Global styles media queries */
@media (min-width: 900px) {
    body {
        background: url('../../assets/img/bg-desktop.png'), $c-blue-very-dark;
        background-size: initial;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}