@keyframes link-hover {
    0% {}
    100% {
        transform: rotate(360deg);
        background: lighten($c-blue-very-dark, 30);
    }
}

@keyframes header-slide {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes current-pop {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }

    50% {
        transform: translateX(-50%) translateY(-20px);
    }

    75% {
        transform: translateX(-50%) translateY(10px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@media (min-width: 900px) {
    @keyframes current-pop {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
    
        50% {
            transform: translateY(-20px);
        }
    
        75% {
            transform: translateY(10px);
        }
        
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
}