.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 900px) {
    .container {
        flex-flow: row;
        max-width: 920px;
        margin: 0 auto;
    }
}