$c-blue-pale: hsl(243, 100%, 93%);
$c-blue-grayish: hsl(229, 7%, 55%);
$c-blue-dark: hsl(228, 56%, 26%);
$c-blue-very-dark: hsl(229, 57%, 11%);
$gr-fade: linear-gradient(to right, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
